<div class="map-container">
    <app-navbar text="🗺️ MAP"></app-navbar>
    <div class="row">
        <div class="column map-column">
            <mat-icon
              svgIcon="map_icon"
              class="map-svg"
              (click)="mapPathClick($event); onCountryClick()"
              (mouseover)="mapPathHover($event)"
              (mouseout)="mapPathLeave($event)"
              >
            </mat-icon>
        </div>
        <div class="column info-column">
            <h2 class="info-column-header">Country Data</h2>

            <!-- instructions are removed when a country is clicked -->
            <p *ngIf="!countryClicked" class="click-prompt">Click on countries for data</p>
            
            <div class="info-container">
                <app-card countryData="COUNTRY" [customText]="countryName"></app-card>
                <app-card countryData="CAPITAL" [customText]="capitalCity"></app-card>
                <app-card countryData="REGION" [customText]="region"></app-card>
                <app-card countryData="INCOME" [customText]="incomeLevel"></app-card>
                <app-card countryData="LONGITUDE" [customText]="longitude"></app-card>
                <app-card countryData="LATITUDE" [customText]="latitude"></app-card>
            </div>
            <p class="citation-container">Powered By <span>The World Bank</span></p>
            
        </div>
    </div>
</div>